<article class="li">
  <header>
    <ul class="p-facts">
      <li><i class="fa fa-calendar" aria-hidden="true"></i><time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05JST" }}">
      <script type="text/javascript">document.write(convertDateStringToShamsi('{{ .Lastmod.Format "2006-1-2" }}'));</script>
      </time></li>
      {{ with .Section }}<li><i class="fa fa-bookmark" aria-hidden="true"></i><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/">{{ . }}</a></li>{{ end }}
      {{ if eq (getenv "HUGO_ENV") "DEV" }}
      <li>{{ .WordCount }} Words</li>
      {{ if .IsDraft }}<li style="color: #2196f3;">DRAFT</li>{{ end }}
      {{ end }}
    </ul>
    <h2 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  </header>
  {{ with .Params.thumbnail }}<a href="{{ $.Permalink }}" class="thumb" title="{{ $.Title }}" style="background-image: url({{ $.Site.BaseURL }}{{ . }});"></a>{{ end }}
  <div class="summary">{{ .Summary }}</div>
  {{ if .Truncated }}
  <footer>
    <a href="{{ .Permalink }}" title="{{ .Title }}">بیشتر…</a>
  </footer>
  {{ end }}
</article>
