<article class="single">
  <header>
    <ul class="p-facts">
      <li><i class="fa fa-calendar" aria-hidden="true"></i><time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05JST" }}"><script type="text/javascript">document.write(convertDateStringToShamsi('{{ .Lastmod.Format "2006-1-2" }}'));</script></time></li>
      {{ with .Section }}<li><i class="fa fa-bookmark" aria-hidden="true"></i><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/">{{ . }}</a></li>{{ end }}
      {{ if eq (getenv "HUGO_ENV") "DEV" }}
      <li>{{ .WordCount }} Words</li>
      {{ if .IsDraft }}<li style="color: #2196f3;">DRAFT</li>{{ end }}
      {{ end }}
    </ul>

    <h1 class="title">{{ .Title }}</h1>
  </header>

  {{ with .Params.thumbnail }}<div class="thumb" style="background-image: url({{ $.Site.BaseURL }}{{ . }});"></div>{{ end }}

  <div class="article-body">{{ .Content }}</div>

  <footer class="article-footer">
    {{ $params := .Params }}
    {{ range $key, $value := $.Site.Taxonomies }}
    {{ if isset $params $key }}
    <section class="bordered">
      <header>
        <div class="panel-title">{{ $key | upper }}</div>
      </header>
      <div>
        <ul class="p-terms">
          {{ range (index $params $key) }}
          <li><a href="{{ $.Site.BaseURL }}{{ $key | urlize }}/{{ . | urlize }}/">{{ . }}</a></li>
          {{ end }}
        </ul>
      </div>
    </section>
    {{ end }}
    {{ end }}
  </footer>

</article>
