<header class="l-header">
      <nav class="navbar navbar-default">
        <div class="container" style="direction: rtl;">
        <img src="{{ .Site.BaseURL }}/{{.Site.Params.logo}}" class="logo"/>
        <div class="navbar-header">
			<a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          {{ if ne (len .Site.Menus) 0 }}
          <div id="navbar" class="collapse navbar-collapse">
            {{ range .Site.Menus }}
            <ul class="nav navbar-nav navbar-left">
              {{ range . }}
              {{ if .HasChildren }}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {{ range .Children }}
                  <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                  {{ end }}
                </ul>
              </li>
              {{ else }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
              {{ end }}
            </ul>
            {{ end }}
          </div>
          {{ end }}
			
        </div>
      </nav>
    </header>
