<meta charset="utf-8">
<meta name="pinterest" content="nopin">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
{{ .Hugo.Generator }}
<meta name="keywords" content="{{ .Site.Params.KeyWords }}"/>
<meta name="title" content="{{.Title}}"/>
<meta name="description" content="{{.Params.description}}"/>
<!--meta name="og:title" content="{{.Title}}"/-->
<!--meta name="og:description" content="{{.Site.Params.description}}"/-->
{{ with .RSSLink }}<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ . }}">{{ end }}
<link rel="canonical" href="{{ .Permalink }}">
<link rel="shortcut icon" href="{{.Site.BaseURL}}favicon.ico" type="image/x-icon">
<link rel="icon" href="{{.Site.BaseURL}}favicon.ico" type="image/x-icon">
