
<aside class="l-sidebar">

  <section class="panel panel-default">
    <div class="panel-heading" style="background-color: #ede7f6;">
      <div class="panel-title">آخرین مطالب</div>
    </div>
    <div class="list-group">
      {{ range first 10 .Site.Pages }}
      <a href="{{ .Permalink }}" class="list-group-item">{{ .Title }}</a>
      {{ end }}
    </div>
  </section>
</aside>

