<footer class="l-footer">
      <div class="container" style="text-align: center;">
      <hr />
      <p><a href="https://t.me/acuteb" class="fa fa-paper-plane">@acuteb</a><br />
      <a href="mailto://babak987213@gmail.com" class="fa fa-envelope">babak987213 AT gmail DOT com</a></p>
        <p>{{ with .Site.Copyright }}{{ . | safeHTML }}{{ else }}<span class="h-logo">&copy; {{ .Site.Title }}</span>{{ end }}</p>
        <aside>
          <p>Powered by <a href="https://gohugo.io/">Hugo</a></p>
          <p><a href="https://github.com/dim0627/hugo_theme_beg">Beg</a> designed by <a href="http://yet.unresolved.xyz/">Daisuke Tsuji</a></p>
        </aside>
      </div>
    </footer>
<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
