<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    {{ .Hugo.Generator }}
	<meta name="keywords" content="{{ .Site.Params.KeyWords }}"/>
	<meta name="title" content="{{.Site.Title}}"/>
	<meta name="description" content="{{.Site.Params.description}}"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{.Site.BaseURL}}favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{.Site.BaseURL}}favicon.ico" type="image/x-icon">
    <title>{{ block "title" . }}{{ end }}{{ .Site.Title }}</title>
    <style type="text/css">
 
 html {
  font-size: 18px;
}

@media (max-width:  768px)  {
  html {
    font-size: 15px;
  }
}

body {
  font-size: inherit;
  font-weight: 300;
}

ul,ol {
  margin: 0;
  padding: 0;
  direction: rtl;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  direction: rtl;
}

h1 {font-size: 1.8rem;line-height: 2rem;margin: 1.5rem 0;}
h2 {font-size: 1.4rem;line-height: 2rem;margin: 1.5rem 0; padding: 1rem 0;
  border-bottom: 2px solid #eceff1;}
h2:first-child { margin-top: 0; }
h3 {font-size: 1.2rem;line-height: 1.5rem;margin: 1.5rem 0; color: #428bca;}
h4, h5, h6 {font-size: 1rem;line-height: 1.5rem;margin: 1.5rem 0;}
h4 {
  border-left: solid .25rem #428bca;
  padding: 0 .5rem;
}

main {
  display: block;
}

/* Parts:section */
section {
  font-size: .8rem;
}

section>header {
  margin-bottom: .5rem;
  font-weight: 500;
}

section.bordered {
  border-top: 1px solid #eee;
  padding: 1rem 0;
}


td {padding: 6px;}
td,th {text-align: center;}

/* Override */
.navbar {
  border-radius: 0;
  background-color: #ede7f6;
}

.navbar-header {float: right;}

.page-header {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  padding: 1rem 0;
}

.page-header h1 {
  margin: 0;
}

/* Layouts */
.l-header {
  font-size: .8rem;
}

.l-footer {
  font-size: .8rem;
  padding: 1.5rem 0;
  color: #999;
}

 
 .screenshot-row{
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 40px;
}

.screenshot-wrp{
  max-width: 33.333%;
  min-width: 180px;
  padding: 12px;
  margin-bottom: 2rem;
  margin-left: 6px;
  margin-right: 6px;
  border: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.screenshot-wrp ,.slide-sm-img{height: 300px;vertical-align: top;}
    
.slide-sm-img {cursor: pointer;transition: 0.3s;
}

.slide-sm-img{width: 152px;}

.slide-sm-img:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 544px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.btnclose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.btnclose:hover,
.btnclose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.panel-title {text-align: right;}

.list-group-item {text-align: right;}

.logo {height:36px; width:36px; float: right; margin-top: 9px;}

.row:after,.row:before{content: " "; display: table;}

.ltr {direction:ltr;}

#bazar-logo {height: 48px; width: 48px; background: url('images/markets.png') 0 0;}
#myket-logo {height: 48px; width: 48px; background: url('images/markets.png') -49px 0;}
#screenshot1 {background: url('images/screenshots/allsz.png') -1px -1px;}
#screenshot2 {background: url('images/screenshots/allsz.png') -154px -1px;}
#screenshot3 {background: url('images/screenshots/allsz.png') -307px -1px;}
#screenshot4 {background: url('images/screenshots/allsz.png') -460px -1px;}
#screenshot5 {background: url('images/screenshots/allsz.png') -613px -1px;}
#screenshot6 {background: url('images/screenshots/allsz.png') -766px -1px;}
#screenshot7 {background: url('images/screenshots/allsz.png') -919px -1px;}
#screenshot8 {background: url('images/screenshots/allsz.png') -1072px -1px;}
#screenshot9 {background: url('images/screenshots/allsz.png') -1225px -1px;}
    </style>
  </head>
  <body>
  {{ partial "header-fa.html" . }}
  <main>
      <div class="container">
      	<h1>{{ .Site.Title }}</h1>
        <p>طب سوزنی یکی از روشهای طب جایگزین  با کاربرد تسکین دردهای جسمانی و تنظیم کارکرد دستگاه های بدن است.</p>
        <p>نرم افزار طب سوزنی برای استفاده پزشکان محترم تهیه شده تا در دستیابی به نقاط موثر بیماریها یاری شان دهد.</p>
        <h2>لینکهای دانلود</h2>
        <p>هم اکنون نسخه آندرویدی این نرم افزار تکمیل شده و آخرین نسخه آن را میتوانید از لینکهای زیر دریافت نمایید.</p>
        <table border="1" align="center" cellspacing="0" style="direction: rtl; margin-top: 24px">
        <thead><th>منبع دریافت</th><th>شماره نسخه</th><th>حجم</th></thead>
        <tbody>
        <tr><td style="text-align:right;"><a href="https://cafebazaar.ir/app/geek.bobby.needlotrapy/"><img src="images/transparent.png" id="bazar-logo"/>دریافت از کافه بازار</a></td>
        	<td style="text-align:center;">۱.۲</td>
        	<td style="text-align:center;">574KB</td></tr>
        <tr><td style="text-align:right;"><a href="https://www.myket.ir/app/geek.bobby.needlotrapy/"><img src="images/transparent.png" id="myket-logo"/>دریافت از مایکت</a></td>
        	<td style="text-align:center;">۱.۲</td>
        	<td style="text-align:center;">574KB</td></tr>
        </tbody>
        </table>
        
        <div class="screenshot-row ltr">
        	<div class="screenshot-wrp"><img class="slide-sm-img" src="images/transparent.png" alt="مکان نقطه روی تصاویر آناتومی" onclick="onSmScreenshotClick('p9.png');"  id="screenshot9"/></div>
        	<div class="screenshot-wrp"><img class="slide-sm-img" src="images/transparent.png" alt="مشخصات یک نقطه سوزن شامل نام، معنی و مکان" onclick="onSmScreenshotClick('p8.png');" id="screenshot8"/></div>
        	<div class="screenshot-wrp"><img class="slide-sm-img" src="images/transparent.png" alt="فهرست نقاط سوزن یک بیماری با امکان یاداوری" onclick="onSmScreenshotClick('p7.png');" id="screenshot7"/></div>
        	<div class="screenshot-wrp"><img class="slide-sm-img" src="images/transparent.png" alt="فهرست بیماریهای قابل درمان با طب سوزنی" onclick="onSmScreenshotClick('p6.png');"  id="screenshot6"/></div>
        	<div class="screenshot-wrp"><img class="slide-sm-img" src="images/transparent.png" alt="فهرست جلسات درمان" onclick="onSmScreenshotClick('p5.png');" id="screenshot5"/></div>
			<div class="screenshot-wrp"><img class="slide-sm-img" src="images/transparent.png" alt="ثبت تاریخ و ساعت جلسه درمانی در تقویم گوشی" onclick="onSmScreenshotClick('p4.png');" id="screenshot4"/></div>
        	<div class="screenshot-wrp"><img class="slide-sm-img" src="images/transparent.png" alt="ثبت تاریخ و ساعت جلسه درمانی" onclick="onSmScreenshotClick('p3.png');" id="screenshot3"/></div>
        	<div class="screenshot-wrp"><img class="slide-sm-img" src="images/transparent.png" alt="فهرست پرونده های جاری و بایگانی" onclick="onSmScreenshotClick('p2.png');" id="screenshot2"/></div>
        	<div class="screenshot-wrp"><img class="slide-sm-img" src="images/transparent.png" alt="ثبت پرونده برای مراجع جدید" onclick="onSmScreenshotClick('p1.png');" id="screenshot1"/></div>   	
        </div> <!-- screenshot-row -->
        <!-- The Modal -->
		<div id="myModal" class="modal">
			<!-- The Close Button -->
			<span class="btnclose">&times;</span>
			<!-- Modal Content (The Image) -->
			<img class="modal-content" id="img01"/>
		</div>
      </div><!-- container -->
    </main>
    {{ partial "footer.html" . }}
    <script type="text/javascript">
    // Get the modal
	var modal = document.getElementById('myModal');

	// Get the image and insert it inside the modal - use its "alt" text as a caption
	var modalImg = document.getElementById("img01");
	var captionText = document.getElementById("caption");
	
	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("btnclose")[0];

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
		modal.style.display = "none";
	}
	
	function onSmScreenshotClick(filename)
	{
	    modal.style.display = "block";
	    modalImg.src = "images/screenshots/"+filename;
	} 
	</script>
</body>
</html>
