<!DOCTYPE html>
<html>
  <head>
    {{ partial "meta.html" . }}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>{{ block "title" . }}{{ end }}{{ .Site.Title }}</title>
    {{ block "meta" . }}{{ end }}
    <link href="{{ .Site.BaseURL }}css/styles-fa.min.css" rel="stylesheet">
    {{ range .Site.Params.custom_css }}
        <link rel="stylesheet" href="{{ . }}">
    {{ end }}
  </head>
  <body>
    {{ if ne (getenv "HUGO_ENV") "DEV" }}
    {{ template "_internal/google_analytics.html" . }}
    {{ end }}
	{{ partial "header-fa.html" . }}
	{{ block "inlineScripts" . }}{{ end }}
    <main>
      <div class="container">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
