{{ define "title" }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ end }}

{{ define "main" }}
<div class="row">
  <div class="col-md-4">
    {{ partial "sidebar-fa.html" . }}
  </div>
  <div class="col-md-8">
    {{ if not .IsHome }}
    <header class="page-header">
      <h1>{{ .Title }}</h1>
    </header>
    {{ end }}
    <ul class="p-articles">
      {{ range (.Paginate .Data.Pages).Pages }}
      <li>{{ .Render "li" }}</li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" . }}
  </div>
</div>
{{ end }}
